@import 'fonts';
* 
{
    margin:0; padding:0;
}
.login-form,.password-form
{ 
    overflow-y:hidden;
    font-family: Lato-Regular;
    z-index: 20; 
    position: absolute;
    margin: auto;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;

    .card
    {   
        margin:0 auto;
        margin-top:40px;
        width:50%;
        
    }
    .card-header
    {
        background-color: #f2f2f2;
        img
        {
            width:60px;
            height:60px;
            float:left;
        }
        h2
        {
            float:left;
            padding:5px;
            line-height: 25px;
            font-family: Raleway-Medium;
            font-size: 35px;
        }
        span{
            font-family: Raleway-Light;
            font-size: 20px;
        }
    }
    h1, p, b
    {
        color:#333;
        font-family: Lato-Regular;
    }
}
#login-body , #reset-password{
    background-image:url("/uploads/hr.jpg");
    background-position:center;
    background-size:cover;
    width:100%;
    height:100vh;
    overflow:hidden !important;
}
.overlay
{
    width: 100%;
    height: 100vh;
    z-index:5;
    background: #11998e; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #11998e, #38ef7d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #11998e, #38ef7d); 
    position: absolute;
    opacity: .8;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #28a745!important;
}

.main-sidebar{
    position:fixed!important;
}

.main-header{
    background: #0da548;

}
.hamburger-menu{
    color:#fff;
}


#myform {
    label{
        font-family: Lato-Regular;
    }
}